body{
    background-color: rgb(218, 84, 146);
    text-align: justify;
}
.centro {
    text-align: center;
}
#pic {
    image-orientation:;
}
.boton {
    background-color: rgb(223, 179, 217);
    cursor: pointer;
    padding: 40px;
    border-radius: 100%;
    margin: 3% 40% 3% 40%;
    border: none;
    
}

#cb {
width: 20%;
margin: 10% 40% 5%% 40%;
padding: 20;
border: none;

}
.boton-hover{
    background-color: rgb(218, 84, 146);
    border: none;
}

