body{
    background-color: rgb(218, 84, 146);
    text-align: justify;
}
.centro {
    text-align: center;
}
#pic {
    margin: 0% 100% 0% 10%;
}
.boton {
    background-color: rgb(223, 179, 217);
    cursor: pointer;
    padding: 40px;
    border-radius: 100%;
    margin: 0% 50% 0% 0%;
}

#cb {
border-radius: 100%;
}
